<div class="login">
  <form [formGroup]="passwordForm" class="form" name="form" novalidate>
    <div class="form-top">
      <div class="form-top-left pt-4">
	    <h3>Change Password</h3>
      </div>
      <div class="form-top-right">
	<i class="fa fa-unlock"></i>
      </div>
    </div>
    <div class="form-body">
      <div class="form-group">
        <div class="input-group">
	      <input [type]="passwordFieldType" name="password" class="form-control" 
	             placeholder="New Password" formControlName="password"  aria-describedby="inputGroupPassword" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary password-show" type="button" id="inputGroupPassword"
                    (click)="showpassword = !showpassword">
              <i [class]="passwordEyes"></i>
            </button>
          </div>
        </div>
	    <div class="field-error" *ngIf="password.hasError('message')">{{password.getError("message")}}</div>
        <div class="field-error" *ngIf="password.hasError('minlength')">Over 6 letters</div>
      </div>
      <div class="form-group">
        <div class="input-group">
	      <input [type]="password2FieldType" name="password2" class="form-control" 
	             placeholder="Re-enter Password" formControlName="password2"  aria-describedby="inputGroupPassword" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary password-show" type="button" id="inputGroupPassword"
                    (click)="showpassword2 = !showpassword2">
              <i [class]="password2Eyes"></i>
            </button>
          </div>
        </div>
	    <div class="field-error" *ngIf="password2.hasError('message')">{{password2.getError("message")}}</div>
        <div class="field-error" *ngIf="password2.hasError('passwordMatch')">Password mismatch.</div>
      </div>
    </div>
    <div class="form-bottom">
      <button class="btn btn-lg mb-3" [class]="changeButtonClass" [disabled]="!passwordForm.valid" (click)="change()">
	    <i class="fas fa-exchange-alt"></i> Change
      </button>
    </div>
  </form>
</div>


