h4 {
    padding: 10px 0;
}
.dialog-container {
    display: flex;
    flex-direction: column;
}
.card-header {
}
.card-block {
}
.error-message {
    margin: 10px 0 0 20px;
    font-size: 14pt;
}
.stack {
    margin: 0 0 0 50px;
    font-size: 12pt;
}
